@charset "UTF-8";

body{
    background-color: rgb(0, 255, 98);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin: 2px auto;
    text-align: center;
    font-weight: bold; /* h1 é sempre bold*/
    font-size: 30px;
    color: white;
}

main{
    background-color: white;
    max-width: 600px;
    min-width: 400px;
    
    margin:0px auto;
    border-radius: 10px;
    box-shadow: 1px 2px 10px black;
    text-align:center;
    font-size:18px;
}

img{
    height:100%;
    max-width: 300px;
}
p{
    margin:0px auto;
    padding:10px;
}
p#escondida{
    font-size: 30px;
}

ul{
    margin:0px;
}
li{
    text-align: left;
}
input{
    margin:1px 10px;
    margin-bottom: 10px;
}
div#escolher{


}

div#jogar{  
    
    margin-bottom:0px;
}

div#resul{
    
    margin-top:0px;
}

footer{
    text-align:center;
    margin-top:10px;
    font-style:italic;
}